.container{
  margin-bottom: 100px;
}
.banner-bg{
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
}
.price{
  color: #ff3686;
}
.buy-now-button{
   background-image:linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  color:#fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
  
}
.cat1,.cat2,.cat3{
  padding: 10px 30px;
  border-radius: 10px;

}
.cat1{
  background-image: linear-gradient(to right,#f69022,rgb(250, 189, 75));
 
}
.cat2{
  background-image: linear-gradient(to right,#eb2f78,hotpink);
 
}
.cat3{
  background-image: linear-gradient(to right,#3b0df6,#4176ff);
 
}
.categories h1{
  color: white;
}
.categories img{
  width: 100px;
}
.card{
  border:none;
  box-shadow: 5px 5px 10px lightgray;

}
.card-footer{
  background-color: white;
  border-top: none;
  
}
.card{
  border-radius: 10px;
}
#subscribe{
  height: 300px;
}
footer{
  text-align: center;
}
